apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev-flink-demo

namePrefix: dev-

labels:
  - includeTemplates: true
    pairs:
      env: dev

resources:
  - ../../base
  - ha-pvc.yaml
  - ingress.yaml
  - s3-paimon-cm.yaml
#  - minio-secret.yaml


patches:
  - path: task-manager.yaml
    target: 
      kind: FlinkDeployment
      name: demo-flinkdeployment
  - path: job.yaml
    target:
      kind: FlinkDeployment
      name: demo-flinkdeployment

patchesJson6902:
  - target:
      group: flink.apache.org
      version: v1beta1
      kind: FlinkDeployment
      name: dev-demo-flinkdeployment
    path: patch-envfrom.json
  - target:
      group: flink.apache.org
      version: v1beta1
      kind: FlinkDeployment
      name: dev-demo-flinkdeployment
    path: patch-pvc-claim-name.json
