apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: session-cluster
  namespace: flink
spec:
  flinkVersion: v1_20
  image: quay.io/colinchan2025/flink_base:amazone-old
  mode: native
  serviceAccount: flink

  flinkConfiguration:
    high-availability: kubernetes
    high-availability.storageDir: "file:///flink-data/ha"
    kubernetes.operator.savepoint.format.type: NATIVE
    taskmanager.numberOfTaskSlots: "2"
    execution.checkpointing.interval: "10s"
    state.checkpoints.dir: "file:///flink-data/flink-ckpt"
    state.savepoints.dir:  "file:///flink-data/flink-sp"
    python.client.executable: "/opt/venv/bin/python3"
    python.executable: "/opt/venv/bin/python3"

  jobManager:
    resource:
      cpu: 1
      memory: 2048m
    replicas: 1

  taskManager:
    resource:
      cpu: 1
      memory: 4096m
    replicas: 2

  job:
    jarURI: local:///opt/flink/lib/flink-python-1.20.1.jar
    entryClass: org.apache.flink.client.python.PythonDriver
    args:
      - "-py"
      - "/opt/flink/usrcode/app.py"
      - "-pyexec"
      - "/opt/venv/bin/python3"
    parallelism: 2
    upgradeMode: stateless
    state: running

  podTemplate:
    spec:
      securityContext:
        runAsUser: 9999
        runAsGroup: 9999
        fsGroup: 9999
      volumes:
        - name: flink-volume
          persistentVolumeClaim:
            claimName: flink-data

      containers:
        - name: flink-main-container
          env:
            - name: PYTHONUNBUFFERED            
              value: "1"
            - name: JAVA_TOOL_OPTIONS
              value: "-Djavax.net.ssl.trustStore=/etc/ssl/truststore/cacerts -Djavax.net.ssl.trustStorePassword=changeit"
          envFrom:
            - configMapRef:
                name: flink-env
            - secretRef:
                name: flink-secret
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
          volumeMounts:
            - name: flink-volume
              mountPath: /flink-data
