apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: demo-flinkdeployment
spec:
  flinkConfiguration:
    execution.checkpointing.interval: 10s
    high-availability: kubernetes
    high-availability.storageDir: file:///flink-ha-data/ha
    kubernetes.operator.savepoint.format.type: NATIVE
    python.client.executable: /opt/venv/bin/python3
    python.executable: /opt/venv/bin/python3
    state.checkpoints.dir: file:///flink-ha-data/flink-ckpt
    state.savepoints.dir: file:///flink-ha-data/flink-sp
  flinkVersion: v1_20 
  serviceAccount: flink
  jobManager:
  mode: native  
  podTemplate:
    spec:
      securityContext:
        fsGroup: 9999
        runAsGroup: 9999
        runAsUser: 9999
        seccompProfile:
          type: RuntimeDefault        
      containers:
        - name: flink-main-container
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: JAVA_TOOL_OPTIONS
              value: -Djavax.net.ssl.trustStore=/etc/ssl/truststore/cacerts -Djavax.net.ssl.trustStoreType=pkcs12 -Djavax.net.ssl.trustStorePassword=changeit
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            runAsNonRoot: true
          volumeMounts:
          - mountPath: /etc/ssl/truststore
            name: minio-ca
          - mountPath: /flink-ha-data
            name: flink-ha-volume
      volumes:
      - configMap:
          name: minio-ca
        name: minio-ca
      - name: flink-ha-volume
        persistentVolumeClaim:
          claimName: dev-demo-flink-ha-pvc
  taskManager:
           
